.list-pagination {
  list-style: none;
  width: 100%;
  display: block;
  margin: 0.5rem auto;
  padding: 1rem;
  text-align: center;

  li {
    display: inline-block;
    font-size: 0.8rem;
    color: #333;
    text-decoration: none;

    & + li {
      margin-left: 5px;

      @media screen and (max-width: 450px) {
        margin-left: 0px;
      }
    }
  }

  &--link {
    padding: 5px 12px;
    text-decoration: none;
    color: black;
    font-weight: 400;

    @media screen and (max-width: 450px) {
      padding: 5px 8px;
    }

    &:hover {
      background-color: #c2a470;
      color: white;
    }
  }

  &--active {
    background-color: #c2a470;
    color: white;

    &:hover {
      background-color: black;
      color: white;
    }
  }
}
